body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculadora {
    border: 1px solid #ccc;
    width: 40%;
    height: 58%;
    max-width: 350px;
    padding: 1%;
    background-color: #eee;
}

#container-resultado{
    height: 10%;
    padding: 0 5% 5% 5%;
}

#resultado{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    text-align: right;
    background-color: #fff;
    border: 1px solid #aaa;
}

.areaBotoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 85%;
    width: 100%;
}

.botao{
    width: 92%;
    margin-top: 5px;
    font-size: 106%;
    font-weight: bold;
}
